<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="../static/css/style.css">
  
</head>
<body>
    <main>
        <h1>Cadastre-se</h1>
        <hr>
        <form method="post" action="/cadastrar">
            <label for="nome">Nome</label>
            <input type="text" placeholder="Nome" name="nome" required>

            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" required>

            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Senha" required>

            <input type="submit" value="Cadastre-se">
        </form>
        <br>
        <p>Já tem uma conta? <a href="/">Entrar</a></p>
    </main>
    
</body>
</html>
